<nav class="navbar">
    <div class="container">
        <div class="flex">
            <div>
                <!-- NEED TO CHANGE THIS TO ABS URL FOR GITHUB PAGES (if it's a project page)!-->
                <a class="brand" href="{{ relURL "/" }}">
                    {{ with .Site.Params.titleEmoji }}
                    <span class="emoji" style="font-size: 40px">
                        {{ . }} 
                    </span>
                    {{ end }}
                    {{ with .Site.Params.titleLogo }}
                        <img src="{{ . | relURL }}" />
                    {{ end }}
                    <span style="font-size: 39px"><strong>{{ .Site.Title }}</strong></span>
                    </a>
            </div>
            <div class="flex">
                {{ range .Site.Menus.header }}
                <a href="{{ .URL | relURL }}"{{ if eq .URL $.RelPermalink }} aria-current="page"{{ end }}>{{ .Pre }}{{ .Name }}{{ .Post }}</a>
                {{ end }}
                {{ if (default true .Site.Params.colorScheme.toggle) }}
                    <button id="dark-mode-button">
                    {{ (resources.Get "icons/light.svg").Content | safeHTML }}
                    {{ (resources.Get "icons/dark.svg").Content | safeHTML }}
                    </button>
                {{ end }}
            </div>
            </div>
    


        </div>
</nav>
